<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item" *ngIf='userCompleto.tipo === "admin"'>
              <a class="nav-link" routerLinkActive="active" aria-current="page" routerLink='/home/usuarios'>Usuarios</a>
            </li>
            <li class="nav-item" *ngIf='userCompleto.tipo === "admin" || userCompleto.tipo === "paciente"'>
              <a class="nav-link" routerLinkActive="active" routerLink='/home/solicitarTurno'>Solicitar turno</a>
            </li>
            <li class="nav-item" *ngIf='userCompleto.tipo === "especialista"'>
              <a class="nav-link" routerLinkActive="active" routerLink='/home/agenda'>Agenda</a>
            </li>
            <li class="nav-item" *ngIf='userCompleto.tipo === "especialista" || userCompleto.tipo === "paciente"'>
              <a class="nav-link" routerLinkActive="active" routerLink='/home/misTurnos'>Mis turnos</a>
            </li>
          </ul>
        <div class="d-flex align-items-center">
            <h6 class="d-flex align-items-center margin-right-2">{{userCompleto.email}}</h6>
            <a class="dropdown-toggle d-flex align-items-center hidden-arrow" href="#" id="navbarDropdownMenuLink"
                role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <img class="perfil1 img-thumbnail rounded" [src]="userCompleto.perfil1">
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" routerLink='perfil'>Mi perfil</a></li>
                <li><a class="dropdown-item" href="#" (click)="authService.SignOut()">Cerrar sesion</a></li>
            </ul>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>