<div class="mt-5 ms-5">
    <div *ngFor='let paciente of pacientes' class="w-100">
        <div class="card border shadow-0 w-50 mb-1 border-primary">
            <div class="row pt-2 pb-1 ps-3">
                <div class="col-1 my-auto">
                    <div class="img-contenedor">
                        <img class="img-w pe-2" [src]="paciente.perfil1">
                    </div>
                </div>
                <div class="col-10 text-start">
                    <div class="row text-muted">
                        <span class="col-4">
                            {{paciente.nombre}} {{paciente.apellido}}
                        </span>
                        <span class="col-4">
                            Edad: {{paciente.edad}}
                        </span>
                        <span class="col-4 d-flex justify-content-end">
                            <button class="btn btn-primary" (click)='verHistoriaPaciente(paciente)'>Ver historia clinica
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-clipboard" viewBox="0 0 16 16">
                                    <path
                                        d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z" />
                                    <path
                                        d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z" />
                                </svg>
                            </button>
                        </span>
                    </div>
                    <div class="row text-muted">
                        <span class="col-4">
                            DNI: {{paciente.dni}}
                        </span>
                        <span class="col-6">
                            Email: {{paciente.email}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>