/* You can add global styles to this file, and also import other style files */
:root {
    --white: #ffffff;
    --primary: #007bff;
    --succes: #4BB543;
    --danger: #f32013;
}

// html {
//     background-image: url("assets/fondo.jpg");
//     height: 100%;
//     display: block;
//     background-repeat: no-repeat;
//     background-size: cover;
// }

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
