<div class="d-flex mt-5 mb-3" [formGroup]="busquedaForm">
    <div class="d-flex w-75 p-0">
        <input type="text" class="form-control flex-fill" placeholder="Nombre del Médico" formControlName='medicoControl'
            autocomplete="off" *ngIf='filtroPorEsp'>
        <input type="text" class="form-control flex-fill" placeholder="Nombre del Médico" formControlName='medicoControl'
            autocomplete="off" *ngIf='tipo === "paciente" || tipo === "admin"'>
        <input type="text" class="form-control flex-fill" placeholder="Nombre del Paciente" formControlName='pacienteControl'
            autocomplete="off" *ngIf='tipo === "especialista" || tipo === "admin"'>
        <input class="form-control flex-fill" list="datalistOptions" id="Especialidad" placeholder="Especialidad"
            formControlName='especialidadControl' autocomplete="off">
        <datalist id="datalistOptions">
            <option [value]="especialidad.descripcion" *ngFor='let especialidad of especialidades'>
        </datalist>
    </div>
    <button class="btn btn-primary w-25" type="button" (click)="submitSearchForm()">
        <i class="fa fa-search"></i>
        Buscar
    </button>
</div>