<div class="m-5">
  <div class="mt-5 ms-5" *ngIf='esAdmin && !pacienteSeleccionado'>
    <div *ngFor='let paciente of pacientes' (click)='seleccionarPaciente(paciente)' class=" btn w-100">
      <div class="card border shadow-0 w-50 mb-1 border-primary">
        <div class="row pt-2 pb-1 ps-3">
          <div class="col-1 my-auto">
            <div class="img-contenedor">
              <img class="img-w pe-2" [src]="paciente.perfil1">
            </div>
          </div>
          <div class="col-10 text-start">
            <div class="row text-muted">
              <span class="col-4">
                {{paciente.nombre}} {{paciente.apellido}}
              </span>
              <span class="col-4">
                Edad: {{paciente.edad}}
              </span>
            </div>
            <div class="row text-muted">
              <span class="col-4">
                DNI: {{paciente.dni}}
              </span>
              <span class="col-6">
                Email: {{paciente.email}}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center"
    *ngIf='!seleccionInicial && !especialidadSeleccionada && usuarioEstaSeleccionado'>
    <div class="col-sm-6 card m-5 card-rounded btn p-0" style="width: 18rem;"
      (click)='onSeleccionInicial("especialidad")'>
      <img src="assets/especialidad-default.png" class="card-img-top p-5 pb-2 pt-4 h-75">
      <div class="card-body">
      </div>
      <div class="card-footer bg-primary">
        <h5 class="text-white">Elegir Especialidad</h5>
      </div>
    </div>
    <div class="col-sm-6 card m-5 card-rounded btn  p-0" style="width: 18rem;"
      (click)='onSeleccionInicial("especialista")'>
      <img src="assets/especialista-default.png" class="card-img-top p-5 pb-2 pt-4 h-75">
      <div class="card-body">
      </div>
      <div class="card-footer bg-primary">
        <h5 class="text-white">Elegir Especialista</h5>
      </div>
    </div>
  </div>

  <div class="d-flex text-muted pt-3 " *ngIf='seleccionInicial === "especialidad"'>
    <app-listado-especialidades (onEspecialidadSelected)='handleEspecialidadSelected($event)'
      [especialidades]='especialidades'></app-listado-especialidades>
  </div>

  <div *ngIf='especialistasParaEsp'>
    <app-turnos-especialidad [especialistasParaEsp]='especialistasParaEsp'
      [especialidadSeleccionada]='especialidadSeleccionada' [pacienteSeleccionado]='pacienteSeleccionado'>
    </app-turnos-especialidad>
  </div>

  <div class="" *ngIf='seleccionInicial === "especialista"'>
    <app-listado-especialistas (onEspecialistaSelected)='handleEspecialistaSelected($event)'>
    </app-listado-especialistas>
  </div>

</div>