<div class="container p-5">
    <div class="card">
        <form [formGroup]="loginForm" class="p-5 pt-3">
            <div class="text-center">
                <img class="w-25" src="./assets/logo.png" alt="">
            </div>
            
            <h2 class="text-center pb-3">INGRESAR</h2>
            <div *ngIf='msgError' class="alert alert-danger alert-dismissible fade show" role="alert">
                {{msgError}}
                <button type="button" class="btn-close p-1" (click)="closeAlert()" aria-label="Close"></button>
            </div>
            <div class="text-center">
                <div *ngIf='isLoading' class="spinner-border text-info" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="floatingInput" placeholder="Email" #userName
                    formControlName="email" required>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password" #userPassword
                    formControlName="password" required>
            </div>
            <div class="form-group">
                <button class="form-control w-100 btn btn-primary" type="button" [disabled]="!loginForm.valid"
                    (click)="login(userName.value, userPassword.value)">Ingresar</button>
            </div>
            <h5 class="text-center">-Login Mock-</h5>
            <select class="form-select" formControlName='selectMock' aria-label="Mocks" (change)='setMock()'>

                <option selected>Seleccione un usuario de test</option>
                <option value="admin1">admin1</option>
                <option value="admin2">admin2</option>
                <option value="especialista1">especialista1</option>
                <option value="especialista2">especialista2</option>
                <option value="paciente1">paciente1</option>
                <option value="paciente2">paciente2</option>
            </select>
            <div class="form-group pt-3">
                <div class="forgotPassword">
                    <a routerLink="/forgot-password">¿Perdiste tu contraseña?</a>
                </div>
                <div class="redirectToLogin">
                    <span>¿Aun no tenes cuenta? <a class="redirect" routerLink="/sign-up">Registrate</a></span>
                </div>
            </div>
        </form>
    </div>
</div>