<div class="mt-5 ms-5">
    <div *ngFor='let turno of turnos'>
        <div class="card border shadow-0 w-50 mb-1" [ngClass]="{'border-primary': turno.estado === 'En espera', 'border-danger': turno.estado === 'Cancelado'}">
            <div class="card-header p-1 ps-3">
                <div class="row">
                    <div class="col-sm-10">
                        {{turno.diaNombre}} {{turno.dia}} de {{turno.mes}} {{turno.hora}} hs.
                    </div>
                    <div class="col-sm-2">
                        <span class="badge badge-size"
                            [ngClass]="{'bg-primary': turno.estado === 'En espera', 'bg-danger': turno.estado === 'Cancelado'}">
                            {{turno.estado}}</span>
                    </div>
                </div>
            </div>
            <div class="card-body row p-1 ps-3">
                <div class="col-sm-6">
                    <h5 class="card-title">{{turno.especialidad.descripcion}}</h5>
                    <p class="card-text">
                        Dr. {{turno.especialista.apellido}} {{turno.especialista.nombre}}
                    </p>
                </div>
                <div class="btn-group col-sm-5 m-auto pe2">
                    <button *ngIf='turno.estado === "En espera"' class="btn btn-sm btn-danger" (click)='cancelarTurno(turno)'>Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>