.container {
    margin-top: 20px;
    margin-left: 50px;
}

.textContainer{
    margin-bottom: 20px;
}

// .mat-form-field{
//     width: 60%;
// }

.button{
    margin-right: 20px;
}

@media (max-width: 600px) {
    // .mat-form-field{
    //     width: 90%;
    // }
}

@media (min-width: 800px) {
    // .mat-form-field{
    //     width: 40%;
    // }
}