<div class="container">
    <div class="textContainer">
        <h3>Perdiste tu password?</h3>
        <h4>No te preocupes, te enviaremos un correo de recuperacion.</h4>
    </div>
    <div>
        <label>Direccion de Email</label>
        <input class="input" type="email" #passwordResetEmail required />
    </div>
    <div>
        <button class="button" type="submit"
            (click)="authService.ForgotPassword(passwordResetEmail.value)">Enviar</button>
        <a routerLink='/sign-in'>Ir al login</a>
    </div>
</div>