
:host {
    background-color: gainsboro;
    height: 100%;
    display: block;
}

.textCenter{
    text-align: center;
}

.activeEsp{
    background-color: var(--primary);
}

.activePac{
    background-color: var(--primary);
}

.alert {
    padding-top: 0 ;
    padding-bottom: 0;
  }